<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdu.wh.djl.mapper.ClassroomMapper">

    <resultMap id="BaseResultMap" type="cn.edu.sdu.wh.djl.model.domain.Classroom">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roomName" column="room_name" jdbcType="VARCHAR"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="humans" column="humans" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="roomStatus" column="room_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="seatRate" column="seat_rate" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_name,capacity,
        humans,address,room_status,
        create_time,create_user,update_time,
        update_user,remark,is_delete,seat_rate
    </sql>
</mapper>
