<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdu.wh.djl.mapper.SingleClassMapper">

    <resultMap id="BaseResultMap" type="cn.edu.sdu.wh.djl.model.domain.SingleClass">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="upRates" column="up_rates" jdbcType="VARCHAR"/>
            <result property="attendRates" column="attend_rates" jdbcType="VARCHAR"/>
            <result property="frontRates" column="front_rates" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,teacher_id,
        start_time,end_time,up_rates,
        attend_rates,front_rates,create_time,
        create_user,update_time,update_user,
        remark,is_delete
    </sql>
</mapper>
